.footer {
  position: sticky;
  display: flex;
  justify-content: space-around;
  width: 100vw;
  max-width: 100%;
}

.footer-button-reset {
  border: none;
  padding: 0;
  margin: 0;
  background: none;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.footer-button-reset:focus {
  outline: none;
}